🛠️ **КОРАБЛЬ СОБРАН!**

🆔 **ID события:** {{.EventUUID}}
📦 **ID заказа:** {{.OrderUUID}}
🙋 **ID пользователя:** {{.UserUUID}}
⏱️ **Время сборки:** {{.BuildTimeSec}} сек

📅 **Зарегистрировано:** {{.RegisteredAt.Format "2006-01-02 15:04:05"}}
