services:

  postgres-order: # Контейнер с PostgreSQL, используемый для хранения данных заказов
    image: ${POSTGRES_IMAGE_NAME}

    container_name: postgres-order

    env_file:
      - .env

    volumes:
      - postgres_order_data:/var/lib/postgresql/data

    ports:
      - "${EXTERNAL_POSTGRES_PORT}:5432"

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      # Настраиваем проверку готовности контейнера — pg_isready проверяет, принимает ли база подключения
      interval: 10s
      timeout: 5s
      retries: 5

    restart: unless-stopped
    # Автоматически перезапускаем контейнер, если он аварийно завершился
    # Если контейнер был остановлен вручную — не перезапускаем

    networks:
      - microservices-net

volumes:
  postgres_order_data:

networks:
  microservices-net:
    external: true
